<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>title List of users</title>
</head>

<body>
    <h2>List of Registered Customers</h2>
    <form class="form-group" action="/findcustomer"> .
        <div class="row">
            <div class="col-md-6 col-md-6">
                <input class="form-control" type="text" placeholder="Enetr The Full Name" name="fullName">
            </div>
            <div class="col-md-6 col-md-6">
                <button class="btn-success" type='submit' value="Search"> Search
            </div>
        </div>
    </form>
    <br>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            </thead>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.fullName}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.currentDate}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.nationality}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.contact}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.kindOfVihecle}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.refreesName}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.refNumber}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.refWork}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.refdob}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.downpayment}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.status}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.otherLoans}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.stageName}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.customer.lc1}}</td>
            </tr>
            <tr>
                <th> 1. Full Name</th>
                <td>#{customer.customer.lc3}}</td>
            </tr>

            <form action="/installment" method="POST">
                <h4>StudentID</h4>
                <input type="text" value=`${customers._id}`>
                <br>
                <h4></h4>
                <input type="text" value=`${customers.downPayment}`>
                <br>
                <h4>Balance</h4>
                <input type="text" value="">
                <br>
                <h4>Installment Amount</h4>
                <input type="text" value="">
                <br>
                <input type="submit" value="Pay Installment">
            </form>



        </table>
    </div>
</body>

</html>