.form1{
    background-color: beige; 
    height: 400px; 
    text-align: center;
}
input[type=text], input[type=password]{
    border-radius: 7px;
    width: 285px;
    height: 40px;
    text-align: center;
    border-bottom: olive 3px solid;
}
.form1 > button{
    border-radius: 3px;
    padding: 5px;
    margin-left: 43px;
    margin-right: 43px;
 }
  #cancel{
      background:#f51403;;
      color: #ffffff;
      width: 100px;
      
  }
  #login{
      background: rgb(0, 151, 0);
      color: #ffffff;
      width: 100px;
      
  }
  #footer{
      color: #4e4d4d;
      text-align: center; 
      background-color: beige;
      height: 35px;
      margin: 3px;
      padding: 5px auto;
  }